* {
    margin: 0;
    padding: 0;
}

$margin_bottom: 32px;

.top-cart {
    background-image: url(img/Cart/!top_cart.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;

    &_title {
        margin-top: 127px;
        margin-bottom: 126px;
    }

}

.product-box__cart {
    display: grid;
    gap: 32px;
    margin-top: 64px;
    grid-template-columns: repeat(12, 1fr);

    .cart {
        display: grid;
        grid-column: span 8;

        &__cap {
            display: flex;
            justify-content: space-between;
            margin-right: 60px;
            align-items: center;
            margin-bottom: 14px;
        }

        &__cap_name {
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: left;
        }

        &__article {
            border-top: 0.5px solid rgb(202, 205, 216);
            margin-right: 33px;
            margin-bottom: $margin_bottom;
        }

        &__article__mini {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__article_first {
            margin-top: 25px;
        }

        &__article_next {
            margin-top: 32px;
        }

        &__left {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &__img {
            width: 173px;
            height: 173px;
        }

        &__info {
            margin-left: 31px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__info_name {
            color: rgb(0, 0, 0);
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;
        }

        &__title {
            width: 276px;
            color: rgb(136, 136, 136);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
        }

        &__price {
            color: rgb(5, 5, 5);
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
        }

        &__link {
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 400;
            line-height: 210%;
            letter-spacing: 0px;
            text-align: center;
            text-decoration-line: underline;
            padding-right: 30px;
        }

        &__link:hover {
            text-decoration-line: none;
            color: rgba(136, 136, 136, 1);
        }

        &__input {
            font-family: "Poppins", sans-serif !important;
            font-size: 14px;
            font-weight: 400;
            border-radius: 6px;
            background: rgb(247, 246, 246);
            width: 71px;
            height: 51px;
            padding-left: 23px;
            box-sizing: border-box;
            border: none;
            appearance: none;
            background-image: url(img/Cart/strelka-top.png), url(img/Cart/strelka-bottom.png);
            background-repeat: no-repeat, no-repeat;
            background-position: calc(100% - 20px) 16px, calc(100% - 20px) 32px;
        }

        &__button {
            margin-top: 50px - $margin_bottom;
        }

        &__button_more {
            font: inherit;
            width: 200px;
            height: 37px;
            box-sizing: border-box;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 50px;
            margin-right: 7px;
            background-color: transparent;
            color: rgb(2, 2, 2);
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: center;
            transition: all 1s ease;
        }

        &__button_next {
            color: rgb(0, 0, 0);
        }

        &__button_more:hover {
            cursor: pointer;
            background-color: var(--Color - 7, rgba(0, 0, 0, 1));
            color: rgba(255, 255, 255, 1)
        }

        &__button_link-next:hover {
            color: rgb(255, 255, 255);
        }



    }

    .product__form {
        height: 556px;
        width: 379px;
        display: flex;
        grid-column: span 4;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        border-radius: 20px;
        background: rgb(247, 246, 246);

        &_title {
            color: rgb(0, 0, 0);
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: 0px;
            text-align: center;
            margin-top: 42px;

        }

        &_input {
            font: inherit;
            color: black;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            width: 288px;
            padding-top: 35px;
            box-sizing: border-box;
            // margin-left: 27px;
            border: none;
            background: rgb(247, 246, 246);
            border-bottom: 1px solid rgb(202, 205, 216);
        }

        &_sum {
            margin-top: 64px;
            color: rgb(0, 0, 0);
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
        }

        &_button {
            font: inherit;
            width: 290px;
            height: 41px;
            box-sizing: border-box;
            border: 1px solid rgb(4, 4, 4);
            border-radius: 20px;
            margin-top: 18px;
            background-color: transparent;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-decoration: none;
            transition: all 1s;
        }

        &_button:hover {
            cursor: pointer;
            background-color: var(--Color - 7, rgba(0, 0, 0, 1));
            color: rgba(255, 255, 255, 1);
            transform: scale(1.1);
        }
    }
}

.product-box__spec {
    .product-for-ikon {
        position: relative;
    }

    .product-ikon-sale {
        position: absolute;
        width: 18px;
        height: 21px;
        right: 58px;
        top: 13px;

    }

    .product-ikon-heart {
        position: absolute;
        width: 20px;
        height: 21px;
        right: 14px;
        top: 15px;

    }
}